<!DOCTYPE html>
<html>

<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<body bgcolor="lightgrey">

			<form>

				<div>

					Employee ID:<br> {{ employee[0] }} <br><br>

					First Name:<br> {{ employee[1] }} <br><br>

					Last Name:<br> {{ employee[2] }} <br><br>

					Primary Skill:<br> {{ employee[3] }} <br><br>

					Location:<br> {{ employee[4] }} <br><br>

					Image URL: <br> {{ emp_image_file }} <br><br>

					<button type="submit"
						style="background: grey; height: 45px; width: 200px; color:white; font:oblique;"
						formaction="/getEmp">RESET</button><br><br>

				</div>

			</form>

		</body>

	</font>
</center>

</html>