<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Management</title>
</head>
<style>
    .button {
        padding: 8px 32px;
        margin: 4px 16px;
        width: 260px;
        font-size: 24px;
        border: 2px solid black;
        text-decoration: none;
        color: white;
        text-align: center;
    }

    .add {
        background-color: forestgreen;
    }

    .aboutUs {
        background-color: teal;
    }

    .search {
        background-color: grey;
    }

    .backgroundFiller {
        width: 100%;
        max-height: 800px;
    }
</style>

<body style="background-color:whitesmoke">
    <div>
        <div style="font-family: avenir">
            <h1 style="color: DodgerBlue; font-size:56px; margin: 0px; text-align:center;">Human Resource Management
            </h1>
            <img src="https://img.freepik.com/premium-vector/human-resource-banner-web-business-strategy-selection-profile-hr_35632-153.jpg?w=1380"
                class="backgroundFiller">
            <div style="display:flex; width: 100%; align-items: center; justify-content: center">
                <form action="/addEmp" autocomplete="on" method="GET">
                    <button type="submit" class="add button">Add Employee</button>
                </form>
                <form action="/getEmp" autocomplete="on" method="POST">
                    <button type="submit" class="search button">Search Employee</button>
                </form>
                <form action="/aboutUs" autocomplete="on">
                    <button type="submit" class="aboutUs button">About Us</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>