<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>
    <div>
        <center>
            <font color="black" size="4" style="font-family: avenir">

                <h1 style="color: DodgerBlue">About Us</h1>

                <form action="/" autocomplete="on" method="GET">
                    <button type="submit"
                        style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO
                        BACK</button><br><br>
                </form>

                <h4 style="color:black">Our Portfolio</h1>

                    {% for i in range(0,employees_count) %}
                    <table border="2" width="50%" height="300px">
                        <tr>
                            <td colspan="2">
                                <div style="text-align: center;">
                                    <font size="5" face="Helvetica">{{ employees[i][1] }}'s Portfolio</font>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="text-align: center;">
                                    <img src="{{ emp_image_files[i] }}" align="center" width="250px" height="250px">
                                </div>
                            </td>

                            <td width="60%">
                                <div style="text-align: left; padding-left: 20%;">
                                    <br>
                                    <font size="4" face="Helvetica">

                                        Name: {{employees[i][1]}} {{employees[i][2]}} <br><br>

                                        Primary Skill: {{employees[i][3]}} <br><br>

                                        Location: {{employees[i][4]}} <br><br>

                                    </font>
                                </div>
                            </td>
                        </tr>
                    </table>
                    {% endfor %}
    </div>


</body>

</html>